doctype html
html(lang="en")
  head
    title= title
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="")
    meta(name="author", content="")
    
    link(rel="stylesheet", href="/stylesheets/boostrap.min.css", type="text/stylesheet")
    script(src="/javascripts/jquery-3.3.1.min.js",type="text/javascript")
    link(rel='stylesheet', href='/stylesheets/style.css', type="text/stylesheet")
  body
 
    block content

    script(src="/javascripts/bootstrap.min.js",type="text/javascript")