doctype html
html
  head
    title= title
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="//connect.facebook.net/en_US/sdk.js",type="text/javascript")
  body
    .container
        p= user
