extends layout

block content
  
  script(src="/javascripts/phaser.js",type="text/javascript")
  script(src="/javascripts/plugins/OnscreenControls.js",type="text/javascript")
  script(src="/javascripts/states/Boot.js",type="text/javascript")
  script(src="/javascripts/states/Preload.js",type="text/javascript")
  script(src="/javascripts/states/Game.js",type="text/javascript")
  script(src="/javascripts/prefabs/Player.js",type="text/javascript")
  script(src="/javascripts/scaler.js",type="text/javascript")
  script(src="/javascripts/main.js",type="text/javascript")